<div th:fragment="sidebar">
    <link href="/static/css/sidebar.css"
          th:href="@{/css/sidebar.css}"
          rel="stylesheet">

    <div>
        <ul style="background: #0088bc;!important; "
            class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <div style="position: fixed; background: #0088bc;!important; ">

                <!-- Sidebar - Brand -->
                <!--                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">-->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost:3000/shurtan">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <!--      <i class="fas fa-laugh-wink"></i>-->
                        <i class="fas fa-burn"></i>
                    </div>
                    <!--    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>-->
                    <div class="sidebar-brand-text mx-3">Шуртан</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item sidebarLi" id="sidebarAdmin">
                    <a class="nav-link" href="/admin">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Панель администратора</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <div class="sidebar-heading">
                    Mining
                </div>

                <!-- Nav Item - Users -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/users">
                        <i class="fas fa-users"></i>
                        <span class="side-word">Пользователи</span></a>
                </li>

                <!-- Nav Item - Mining system -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/mining_system">
                        <i class="fas fa-burn"></i>
                        <span class="side-word">Месторождений</span></a>
                </li>

                <!-- Nav Item - Uppg -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/uppg">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <!--      <img th:src="icon/uppg.svg">-->
                        <span class="side-word">УППГ</span></a>
                </li>


                <!-- Nav Item - Collection point -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/collection_point">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span class="side-word">Сборный пункт</span></a>
                </li>


                <!-- Nav Item - Well -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/well">
                        <i class="fas fa-burn"></i>
                        <span class="side-word">Скважина</span></a>
                </li>

                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/opc_server">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span class="side-word">Опс сервер</span></a>
                </li>

                <!-- Nav Item - System variables -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/system_variables">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span class="side-word">Системные переменные</span></a>
                </li>


                <!-- Nav Item - Fake uppg -->
                <li class="nav-item sidebarLi">
                    <a class="nav-link" href="/admin/fake_uppg">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span class="side-word">Rasxodomer Uppg</span></a>
                </li>


                <li class="nav-item sidebarLi " style="text-align: center; ">
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>
                </li>

            </div>

        </ul>

    </div>


</div>
<script src="/static/js/users.js" th:src="@{/js/sidebar.js}"></script>
