<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Constant - Dashboard</title>

    <script src="/js/axios.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            th:href="@{'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'}"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css"
          th:href="@{/css/sb-admin-2.min.css}"
          rel="stylesheet">

    <link href="/static/css/users.css"
          th:href="@{/css/users.css}"
          rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css"
          th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
          rel="stylesheet">

</head>

<body onload="" id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="components/sidebar::sidebar" style="background: #0088bc;"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="components/navbar::navbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="col-12 d-flex p-0 mt-3">
                    <div class="col-4 mb-4  p-0">
                        <button onclick="goOutFromComposition()" id="goOutCompositionBtn" style="display: none;"
                                type="button" class="btn btn-outline-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" style="color: #35B8CB;"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                            Назад
                        </button>
                    </div>
                    <div class="col-4 p-0 ml-3">
                        <h1 class="h3 mb-2 text-gray-800 text-center" id="compositionConstantH1">Константы</h1>
                    </div>
                    <div class="col-4 d-flex justify-content-end p-0">
                        <button type="button" class="btn btn-outline-info py-2 px-4"
                                data-toggle="tooltip"
                                id="gasCompositionBtn"
                                data-placement="bottom"
                                title="Компонентный состав добываемого газа месторождения и критические параметры "
                                onclick="gasCompositionBtn()"
                        >
                            Компонентный состав
                        </button>
                    </div>
                </div>

                <!--// Add button and modal-->

                <div>

                    <!--CONSTANT  form-->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                                <div class="modal-header p-2">
                                    <button type="button"
                                            class="close d-flex align-items-center justify-content-center h-25 "
                                            id="closeFormBtn"
                                            data-dismiss="modal" aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0088BC"
                                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body  pb-md-3 pl-md-5 pr-md-5 pt-md-2">
                                    <h3 class="text-center mb-4 " id="addOrEditConstantH3">Добавить Константы</h3>
                                    <form action="#" class="login-form" name="addOrEditConstantForm"
                                          id="addOrEditConstantForm"
                                          onsubmit="addOrEditConstant(event)">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input name="id" type="text" class="form-control rounded-left" hidden>
                                            </div>
                                            <div class="form-group ">
                                                <label for="constantName" class="mb-0">Имя константы</label>
                                                <select name="name"
                                                        class="custom-select form-control rounded-left"
                                                        id="constantName"
                                                        aria-label="Example select with button addon" required>
                                                    <option value="">Выберите имя константы</option>
                                                    <option value="RO_GAS">RO_GAS</option>
                                                    <option value="RO_AIR">RO_AIR</option>
                                                    <option value="C">C</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="S">S</option>
                                                    <option value="TETA">TETA</option>
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="value" class="mb-0">Ценить</label>
                                                <input name="value" id="value" type="number" step=any
                                                       class="form-control rounded-left" placeholder="" required>
                                            </div>
                                            <div class="form-group ">
                                                <label for="description" class="mb-0">Описание</label>
                                                <input name="description" id="description" type="text"
                                                       class="form-control rounded-left" placeholder="">
                                            </div>

                                            <!--<div class="form-group ">
                                                <label for="inputGroupSelect03" class="mb-0">Категория</label>
                                                <select name="category"
                                                        class="custom-select form-control rounded-left"
                                                        id="inputGroupSelect03"
                                                        aria-label="Example select with button addon" required>
                                                    <option value="">категория</option>
                                                    <option value="">Месторождений</option>
                                                    <option value="">УППГ</option>
                                                    <option value="">Сборный пункты</option>
                                                    <option value="">Скважина</option>
                                                </select>
                                            </div>-->
                                        </div>

                                        <div class="form-group">
                                            <button type="submit"
                                                    id="addOrEditConstantBtn"
                                                    class="form-control btn btn-primary rounded submit px-3">Добавить
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--GAS COMPOSITION form-->
                    <div class="modal fade" id="modalGasComposition" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header p-2">
                                    <button type="button"
                                            class="close d-flex align-items-center justify-content-center h-25"
                                            id="closeGasCompositionFormBtn"
                                            data-dismiss="modal" aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0088BC"
                                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body  pb-md-3 pl-md-5 pr-md-5 pt-md-2">
                                    <h3 class="text-center mb-4" id="addOrEditGasCompositionFormH3">Добавить Газовый
                                        состав
                                    </h3>
                                    <form action="/" class="login-form" id="addOrEditGasCompositionForm"
                                          onsubmit="addOrEditGasComposition(event);">
                                        <div class="form-group">
                                            <input name="id" type="number" class="form-control rounded-left"
                                                   hidden>
                                        </div>
                                        <div class="form-group d-flex flex-column">
                                            <label for="name" class="mb-0"> Имя</label>
                                            <input name="name" id="name" type="text"
                                                   class="form-control rounded-left"
                                                   placeholder="">
                                        </div>

                                        <div class="form-group d-flex flex-column">
                                            <label for="criticalPressure" class="mb-0">Критическое давление</label>
                                            <input name="criticalPressure" id="criticalPressure" type="number" step=any
                                                   class="form-control rounded-left"
                                                   placeholder="">
                                        </div>
                                        <div class="form-group d-flex flex-column">
                                            <label for="criticalTemperature" class="mb-0">Критическая
                                                температура</label>
                                            <input name="criticalTemperature" id="criticalTemperature" type="number"
                                                   step=any
                                                   class="form-control rounded-left"
                                                   placeholder="">
                                        </div>

                                        <!--                                        <div class="form-group d-flex">-->
                                        <!--                                            <input name="collectionPointId" id="collectionPonitId" value=""-->
                                        <!--                                                   type="number"-->
                                        <!--                                                   class="form-control rounded-left"-->
                                        <!--                                                   hidden>-->
                                        <!--                                        </div>-->

                                        <div class="form-group">
                                            <button type="submit"
                                                    id="addOrEditGasCompositionBtn"
                                                    class="form-control btn btn-info rounded submit px-3">Добавить
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MOLAR form-->
                    <div class="modal fade" id="modalForAddOrEditMolar" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header p-2">
                                    <button type="button"
                                            class="close d-flex align-items-center justify-content-center h-25"
                                            id="closeMolarFormBtn"
                                            data-dismiss="modal" aria-label="Close">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0088BC"
                                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body  pb-md-3 pl-md-5 pr-md-5 pt-md-2">
                                    <h3 class="text-center mb-4" id="addOrEditMolarFormH3">Добавить Молярная доля
                                    </h3>
                                    <form action="/" class="login-form" id="addOrEditMolarForm"
                                          onsubmit="addOrEditMolar(event);">
                                        <div class="form-group">
                                            <input name="id" type="number" class="form-control rounded-left"
                                                   hidden>
                                        </div>
                                        <div class="form-group d-flex flex-column">
                                            <label for="gasCompositionNames" class="mb-0">Имя газового состава</label>
                                            <select name="gasCompositionId" class="custom-select form-control rounded-left"
                                                    id="gasCompositionNames"
                                                    onchange="handleGasCompositionId()"
                                                    aria-label="Example select with button addon" required>
                                                <option value="">Выберите газового состава</option>
                                                <option value="">Loading...</option>
                                            </select>
                                        </div>

                                        <div class="form-group d-flex flex-column">
                                            <label for="molarFraction" class="mb-0">Молярная доля </label>
                                            <input name="molarFraction" id="molarFraction" type="number" step=any
                                                   class="form-control rounded-left"
                                                   placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <input name="miningSystemId" id="miningSystemIdForMolar" type="number" class="form-control rounded-left"
                                                   hidden>
                                        </div>
                                        <!--                                        <div class="form-group d-flex">-->
                                        <!--                                            <input name="collectionPointId" id="collectionPonitId" value=""-->
                                        <!--                                                   type="number"-->
                                        <!--                                                   class="form-control rounded-left"-->
                                        <!--                                                   hidden>-->
                                        <!--                                        </div>-->
                                        <div class="form-group">
                                            <button type="submit"
                                                    id="addOrEditMolarBtn"
                                                    class="form-control btn btn-info rounded submit px-3">Добавить
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SELECT CONSTANT OF . . .-->
                <div class="form-group col-2 p-0 mr-2 w-25" id="selectConstantOf">
                    <select class="custom-select form-control rounded-left mt-1"
                            aria-label="Example select with button addon"
                            id="constantOf"
                            onchange="selectHandleConstantOf()"
                    >
                        <option value="MINING_SYSTEM">Месторождений</option>
                        <option value="UPPG">УППГ</option>
                        <option value="COLLECTION_POINT">Сборный пункты</option>
                        <option value="WELL">Скважина</option>
                    </select>
                </div>

                <div class="form-group col-2 p-0 mr-2 w-25" id="gasCompositionOrMolarSelectDiv" style="display: none;">
                    <select class="custom-select form-control rounded-left mt-1"
                            aria-label="Example select with button addon"
                            id="gasCompositionOrMolar"
                            onchange="selectHandleGasCompositionOrMolar()"
                    >
                        <option value="GAS_COMPOSITION">Газовый состав</option>
                        <option value="MOLAR">Молярная доля</option>
                    </select>
                </div>

                <!-- Constant DataTales -->
                <div id="cardTableConstant" class="card shadow mb-4">

                    <div class="card-body">
                        <!--//ADD BTN-->
                        <section class="ftco-section pb-2">
                            <div class="row">
                                <div class="col-md-12 d-flex ">
                                    <div class="col-2 p-0">
                                        <button type="button" class="btn btn-primary py-1 px-3" data-toggle="modal"
                                                data-target="#exampleModalCenter"
                                                id="addConstantBtn">
                                            <h2 class="m-0">+</h2>
                                        </button>
                                    </div>
                                    <div class="form-group col-2 p-0 mr-2 w-25">
                                        <select name="miningSelect" class="custom-select form-control rounded-left mt-1"
                                                id="miningSelect" style="display: block;"
                                                onchange="selectHandleMining()"
                                                aria-label="Example select with button addon">
                                            <option value="">Loading. . .</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-2 p-0 mr-2 w-25">
                                        <select name="uppgSelect" class="custom-select form-control rounded-left mt-1"
                                                id="uppgSelect" style="display: none;"
                                                onchange="selectHandleUppg()"
                                                aria-label="Example select with button addon">
                                            <option value="">Loading. . .</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-2 p-0 mr-2 w-25">
                                        <select name="collectionPointSelect" style="display: none;"
                                                class="custom-select form-control rounded-left mt-1"
                                                id="collectionPointSelect"
                                                onchange="selectHandleSP()"
                                                aria-label="Example select with button addon">
                                            <option value="">Loading. . .</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-2 p-0 mr-2 w-25">
                                        <select name="wellSelect" style="display: none;"
                                                class="custom-select form-control rounded-left mt-1"
                                                id="wellSelect"
                                                onchange="selectHandleWell()"
                                                aria-label="Example select with button addon">
                                            <option value="">Loading. . .</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="table-responsive">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                               cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                               style="width: 100%;">
                                            <thead>
                                            <tr role="row">
                                                <th class=" _asc constants-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                >ID
                                                </th>
                                                <th class=" constants-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending"
                                                >Имя константы
                                                </th>
                                                <th class=" constants-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending"
                                                >Значение
                                                </th>
                                                <th class=" constants-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending"
                                                >Описание
                                                </th>
                                                <th class=" constants-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-label="Salary: activate to sort column ascending"
                                                >Редактировать
                                                </th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th class="constants-table-title" rowspan="1" colspan="1">ID</th>
                                                <th class="constants-table-title" rowspan="1" colspan="1">Имя константы
                                                </th>
                                                <th class="constants-table-title" rowspan="1" colspan="1">Значение</th>
                                                <th class="constants-table-title" rowspan="1" colspan="1">Описание
                                                </th>
                                                <th class="constants-table-title" rowspan="1" colspan="1">
                                                    Редактировать
                                                </th>
                                            </tr>
                                            </tfoot>
                                            <tbody id="constantTable">
                                            <tr class="odd">
                                                <td class="_1">Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- GasComposition DataTales -->
                <div id="cardTableGasComposition" style="display: none" class="card shadow mb-4">
                    <div class="card-body">
                        <!--//ADD BTN GasComposition-->
                        <section class="ftco-section pb-2">
                            <div class="row">
                                <div class="col-md-12 d-flex ">
                                    <div class="col-6 p-0">
                                        <button type="button" class="btn btn-primary py-1 px-3" data-toggle="modal"
                                                data-target="#modalGasComposition"
                                                id="addGasCompositionBtn"
                                                onclick="addGasCompositionBtn()"
                                        >
                                            Добавить газовый состав
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="table-responsive">
                            <div id="dataTable_wrapperr" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="dataTableGasComposition"
                                               width="100%"
                                               cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                               style="width: 100%;">
                                            <thead>
                                            <tr role="row">
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                >ID
                                                </th>
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Имя
                                                </th>
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Критическое давление
                                                </th>
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Критическая температура
                                                </th>

                                                <!--                                                <th class=" users-table-title" tabindex="0"-->
                                                <!--                                                    aria-controls="dataTable" rowspan="1" colspan="1"-->
                                                <!--                                                >Дата создания-->
                                                <!--                                                </th>-->
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Редактировать
                                                </th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th class="users-table-title" rowspan="1" colspan="1">ID</th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Имя</th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Критическое
                                                    давление
                                                </th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Критическая
                                                    температура
                                                </th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Редактировать</th>
                                            </tr>
                                            </tfoot>
                                            <tbody id="gasCompositionsTable">
                                            <tr class="odd">
                                                <td class="">Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <!--                                        <div class="dataTables_info" id="dataTable_infoAction" role="status"-->
                                        <!--                                             aria-live="polite">Showing 1 to 10 of 57 entries-->
                                        <!--                                        </div>-->
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="dataTable_paginateAction">
                                            <ul class="pagination" id="totalPages">

                                                <li class="paginate_button page-item previous disabled"
                                                    id="dataTable_previousAction">
                                                    <button aria-controls="dataTable"
                                                            data-dt-idx="0" tabindex="0"
                                                            class="page-link">Previous
                                                    </button>
                                                </li>

                                                <li class="paginate_button page-item active">
                                                    <button
                                                            aria-controls="dataTable"
                                                            data-dt-idx="1"
                                                            tabindex="0"
                                                            class="page-link">1
                                                    </button>
                                                </li>

                                                <li class="paginate_button page-item next" id="dataTable_nextAction">
                                                    <button
                                                            aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                                            class="page-link">Next
                                                    </button>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MOLAR FRACTION DataTales -->
                <div id="cardTableMolar" style="display: none" class="card shadow mb-4">
                    <div class="card-body">
                        <!--//ADD BTN Molar-->
                        <section class="ftco-section pb-2">
                            <div class="row">
                                <div class="col-md-12 d-flex ">
                                    <div class="col-5 p-0">
                                        <button type="button" class="btn btn-primary py-1 px-3" data-toggle="modal"
                                                data-target="#modalForAddOrEditMolar"
                                                id="addMolarBtn"
                                                onclick=""
                                        >
                                            Добавить Молярная доля
                                        </button>
                                    </div>
                                    <div class="form-group col-2 p-0 w-25">
                                        <select name="miningSelectForMolar"
                                                class="custom-select form-control rounded-left mt-1"
                                                id="miningSelectForMolar"
                                                onchange="selectHandleMiningForMolar()"
                                                aria-label="Example select with button addon">
                                            <option value="">Loading. . .</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="table-responsive">
                            <div id="dataTable_wrapper_molar" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered dataTable" id="dataTableMolar"
                                               width="100%"
                                               cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                               style="width: 100%;">
                                            <thead>
                                            <tr role="row">
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                >ID
                                                </th>
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Имя газового состава
                                                </th>
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Молярная доля
                                                </th>
                                                <!--                                                <th class=" users-table-title" tabindex="0"-->
                                                <!--                                                    aria-controls="dataTable" rowspan="1" colspan="1"-->
                                                <!--                                                >Дата создания-->
                                                <!--                                                </th>-->
                                                <th class=" users-table-title" tabindex="0"
                                                    aria-controls="dataTable" rowspan="1" colspan="1"
                                                >Редактировать
                                                </th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                                <th class="users-table-title" rowspan="1" colspan="1">ID</th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Имя газового
                                                    состава
                                                </th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Молярная доля</th>
                                                <th class="users-table-title" rowspan="1" colspan="1">Редактировать</th>
                                            </tr>
                                            </tfoot>
                                            <tbody id="molarTable">
                                            <tr class="odd">
                                                <td class="">Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                                <td>Loading. . .</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <!--                                        <div class="dataTables_info" id="dataTable_infoAction" role="status"-->
                                        <!--                                             aria-live="polite">Showing 1 to 10 of 57 entries-->
                                        <!--                                        </div>-->
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="dataTable_paginateAction_molar">
                                            <ul class="pagination" id="totalPages_molar">

                                                <li class="paginate_button page-item previous disabled"
                                                    id="dataTable_previousAction_molar">
                                                    <button aria-controls="dataTable"
                                                            data-dt-idx="0" tabindex="0"
                                                            class="page-link">Previous
                                                    </button>
                                                </li>

                                                <li class="paginate_button page-item active">
                                                    <button
                                                            aria-controls="dataTable"
                                                            data-dt-idx="1"
                                                            tabindex="0"
                                                            class="page-link">1
                                                    </button>
                                                </li>

                                                <li class="paginate_button page-item next"
                                                    id="dataTable_nextAction_molar">
                                                    <button
                                                            aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                                            class="page-link">Next
                                                    </button>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="components/footer::footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="logOutBtn()">Logout</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/js/system_variables.js" th:src="@{/js/system_variables.js}"></script>
<script src="/static/js/gasComposition.js" th:src="@{/js/gasComposition.js}"></script>
<script>
    getAllMiningSystemConstants();
    getAllMiningSystems();
    getAllUppgs();
    getAllCollectionPoints();
    getAllWells();
</script>
<script src="/static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="/static/js/login.js" th:src="@{/js/login.js}"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js" th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script src="/static/js/demo/chart-area-demo.js" th:src="@{/js/demo/chart-area-demo.js}"></script>
<script src="/static/js/demo/chart-pie-demo.js" th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>
<script>
    $(document).ready(function () {
        $("#exampleModalCenter").on('hide.bs.modal', function () {
            document.getElementById('addOrEditConstantForm').reset();
        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>





